/* Styles the title on every page to the same. */
h1 {
    color: #ff2800;
}

/* Styles the navbar on every page to the same. */
nav {
    background-color: #ff2800;

    margin-bottom: 40px;
}

.linktext {
    font-style: italic;
}

.btn {
    background-color: #ff2800;
    color: white;
}

#currentUser {
    color: #ff2800;
}

/* Styles the forms when logging in a user. */
.form-group {
    background-color: whitesmoke;

    border: 2px solid #ff2800;
    border-radius: 8px;

    width: 400px;
    height: auto;
    padding: 15px;

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    margin-bottom: 8px;
}

